.account{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: rgb(95, 92, 92);
    opacity: 0.85;
    padding-top: 150px;
    
}
.account{
    background-color: hotpink;
    background-image: url(dine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*inputs design*/
.user, .pwdd  {
width: 50%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid black;
box-sizing: border-box;
border-radius: 5px;
background-color: rgb(95, 92, 92);
border: none;
}
button{
    background-color: rgb(95, 92, 92);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
}
/*button style*/
.login{
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 10%;
    
    

}


button:hover{
    opacity: 0.8;
}
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: rgb(95, 92, 92);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: left;
    /*float: left;*/
    
}
.profilepic{
    text-align: center;
    margin: 24px 0 12px 0;
}
.avatar{
    width: 20%;
    border-radius: 50%;
}
.container{
    text-align: center;
    padding: 16px;
} 
    

.pwd{
    float: right;
    /*padding: 15px;*/
    text-decoration: none;
    color: white;
}*/
span.pwd{
    float: right;
    padding-top: 16px;
    
}
@media screen and (max-width: 300px){
    span.pwd{
        display: block;
        float: none;
    }
}

.navbar a{
    color: white;
    text-decoration: none;
}
.site-head{
    width:98.9%;
     top: 0px;
     position: fixed;
       background-color:#3f3f3f;
       z-index: 1;
       
   }
   
   .site-head p{
     float: right;
     margin-right: 50px;
   }
   .site-head h2{
       text-align: center;
       /* margin-left: 155px; */
   }
      
   .navbar{
    text-align: center ;
    height: 61px;
    
}
.baga{
    display: none;
}
.navbar li{
    display: inline-block;
    padding: 20px 30px 20px 30px;
    
}
@media only screen and (max-width:650px){
    .baga {
        display: inline-block;
        font-size: 35px;
        position: absolute;
        right: 0;
        top: 0;
        color: grey;
        background-color: rgb(225, 231, 229);
        cursor: pointer;
        width: 30px;
        margin-right: 1px;
      }
.site-head{
  width: 95%;
}
  .navbar li {
        display: none;
      }
}

.login a{
    color: white;
    text-decoration: none;
}

.pwd a{
    color: white;
    text-decoration: none;
}

